@font-face {
    font-family: 'Century-Gothic';
    src: url("/assets/fonts/GOTHIC.TTF") format("opentype");
    font-display: auto;
    font-style: normal;
    font-stretch: normal;
}

.app-sidebar-logo .app-sidebar-logo-brand {
    display: flex;
    align-items: center;
}

.brand_text {
    text-wrap: normal;
    color: #074248 !important;
    font-weight: bold;
}

.h-link {
    color: #fff !important;
}

.h-sign-out {
    color: #00cb9c !important;
}

.custom_btn {
    background: #ffffff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 3px 15px;
    color: #074248;
    font-weight: bold;
}

    .custom_btn:active {
        border: 1px solid #fff;
    }

    .custom_btn:hover {
        background: #074248;
        color: #fff;
    }

@media(min-width: 992px) {
    .app-sidebar .flex_add {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        z-index: -10;
        position: relative;
    }

    .app-sidebar-logo-default {
        margin-right: 3px;
    }
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .app-sidebar-logo {
    border-bottom: 1px dashed #b1b1b1a8;
}

.border-bottom-dashed-1 {
    border-top: 1px dashed #dfd4d4;
}

.logo_img_login img {
    width: 100% !important;
    height: 80vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.logo_img_login img{
    width: 330px !important
}*/

/*.login_bg {
    background: url('../media/login/thumb-1920-750750.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
   
}
    .login_bg:after {
        content: "";
        background: #00000070;*/
/*background: #ffffff69;*/
/*height: 100%;
        width: 100%;
        position: absolute;
    }
.login_bg .container-fluid {
    position: relative;
    z-index: 1000;
}*/


/* Landing Page */
.landing-dark-bg {
    background: url('../media/login/thumb-1920-750750.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}

.panel {
    margin-bottom: 20px !important;
    border: 1px solid transparent;
    border-radius: 12px !important;
    box-shadow: 0 0 4px #e7e5e5 !important;
}

.panel-primary {
    border: 1px solid #074248 !important;
}

.panel-header {
    border-radius: 10px 10px 0 0;
    padding: 11px 20px 5px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #074248 !important;
}

.panel-body {
    padding: 20px;
}

.panel-footer {
    border-top: 1px solid #074248;
    padding: 13px 20px;
    border-radius: 0 0 10px 10px;
}

/*input#txtUsername {
    -webkit-box-shadow: 0 0 0px 1000px #e0ffe0 inset;
    box-shadow: 0 0 0px 1000px #e0ffe0 inset;
    -webkit-text-fill-color: #000;
    transition: background-color 5000s ease-in-out 0s;
}*/

.login_bg .form-control {
    padding: 6px 5px;
    color: #000;
}

    .login_bg .form-control:not(::placeholder) {
        background-color: transparent !important;
    }

/*  ================================================= Common Master Layout Style Here =======================================*/
.c_header_area img {
    width: 50px;
}

.c_header_area {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    /*background: orange;*/
    background: #074248;
    padding: 2px 6%;
}

    .c_header_area h3 {
        font-size: 33px;
        color: #fff;
        padding: 10px 15px;
        font-family: ui-monospace;
        /*text-shadow: 0 0 10px #f7f3f3;*/
        /*font-family: 'Century-Gothic';*/
        text-transform: capitalize;
    }

.c_user_login_area {
    background: #fff;
    color: #fff;
}

    .c_user_login_area ul {
        display: flex;
        justify-content: end;
        padding-right: 27px;
        list-style-type: none
    }

        .c_user_login_area ul li {
            padding: 5px 10px;
        }

            .c_user_login_area ul li a {
                color: #074248;
                font-weight: 700;
            }

.c_bg_image {
    background: url(../media/login/home-bg-old.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.c_footer_area {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}

    .c_footer_area p {
        background: #464646;
        color: #fff;
        padding: 4px;
        margin-bottom: 0;
        text-align: center;
    }

/* frm System page style code here of common masterpage*/

.box1 {
    color: white;
    background-color: #fff;
    /*border: 1px solid #074248;*/
    font-size: 15px;
    padding-top: 24px;
    height: 176px;
    margin-bottom: 17px;
}

.box-model {
    text-align: center;
    width: 278px;
    padding-right: 8px;
}

.box1 a {
    color: #074248;
}

.box2 {
    color: white;
    background-color: #F7882F;
    border: 1px solid #F7882F;
    font-size: 15px;
}

    .box2 a {
        color: #F7882F;
    }

.box3 {
    color: white;
    background-color: #6C648B;
    border: 1px solid #6C648B;
    font-size: 15px;
}

    .box3 a {
        color: #6C648B;
    }

.box4 {
    color: white;
    background-color: #CF6766;
    border: 1px solid #CF6766;
    font-size: 15px;
}

    .box4 a {
        color: #CF6766;
    }

.box-model {
    text-align: center;
}

    .box-model .fa-5x {
        font-size: 50px;
        color: #fff;
        text-align: center;
    }

    .box-model .panel-footer {
        padding: 8px 0;
    }

    .box-model .pull-right i {
        color: #074248;
        font-size: 18px;
        padding: 5px;
    }
/* Box Design bg color*/
.pink-color {
    /*background: #83174b*/
}

.orange-color {
    background: #fff;
}

.black-color {
    background: #101010
}


.purple-color {
    background: #fff;
}

.red-color {
    /*background: #d32d41*/
}

.sky-color {
    /*background: #488a99*/
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.btn {
    padding: 7px 15px !important;
}

.table tr th {
    color: #fff;
    background: #4685cf;
    position: sticky;
    top: 0;
    text-align: center;
    vertical-align: inherit;
}

.table thead tr th {
    color: #fff !important;
    background: #1b84ff !important;
    position: sticky !important;
    top: 0;
}

.modal {
    display: block;
}
/*Date -03-02-2024*/
.bg-primary th {
    color: #fff;
    padding: 6px 3px;
}

.bg-primary td {
    color: #fff;
}

.table-style tr th, .table-style tr td {
    vertical-align: top;
}

.text-right {
    text-align: right;
}

.border-special {
    border: 1px solid #80808024;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
    margin-top: 12px;
}

.button-size-adjust input[type="submit"] {
    font-size: 12px;
    width: 120px;
}

.footer-bg-primary td {
    color: #fff
}

.pl-0 {
    padding-left: 0;
}

.table tr th {
    color: #fff !important;
    background: #1b84ff;
    position: sticky;
    top: 0;
}

.bg-gradient-danger {
    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096)) !important;
    background: linear-gradient(to right, #ffbf96, #fe7096) !important;
}

.bg-gradient-info {
    background: -webkit-gradient(linear, left top, right top, from(#90caf9), color-stop(99%, #047edf)) !important;
    background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
}

.bg-gradient-success {
    background: -webkit-gradient(linear, left top, right top, from(#84d9d2), to(#07cdae)) !important;
    background: linear-gradient(to right, #84d9d2, #07cdae) !important;
}

.bg-gradient-warning {
    background: linear-gradient(to right, rgb(159 49 71), rgb(251 157 175)) !important;
}

[data-kt-app-sidebar-minimize="on"] #kt_app_sidebar:hover .menu-sub-accordion {
    display: none;
}

[data-kt-app-sidebar-minimize="on"] #kt_app_sidebar .menu-title, [data-kt-app-sidebar-minimize="on"] #kt_app_sidebar .menu-arrow {
    display: none;
}

[data-kt-app-sidebar-minimize="on"] #kt_app_sidebar:hover .menu-title,
[data-kt-app-sidebar-minimize="on"] #kt_app_sidebar:hover .brand_text,
[data-kt-app-sidebar-minimize="on"] #kt_app_sidebar:hover .menu-bullet,
[data-kt-app-sidebar-minimize="on"] #kt_app_sidebar:hover .menu-arrow {
    display: none;
}

.btn-info2 {
    background: #5bc0de !important;
}

    .btn-info2:hover {
        background: #5bc0de !important;
    }

@media (min-width:992px) {
    [data-kt-app-sidebar-minimize=on][data-kt-app-sidebar-hoverable=true] .app-sidebar:not(:hover) .app-sidebar-logo .app-sidebar-logo-default {
        display: none;
    }
}

[data-kt-app-sidebar-minimize="on"] #kt_app_sidebar .menu-title, [data-kt-app-sidebar-minimize="on"] #kt_app_sidebar .menu-arrow {
    display: none !important;
}
/*.fixed-dashboard-card {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}*/
.genrate-pass {
    color: #fff;
}

.btn-submit {
    background: #074248;
    color: #ffffff;
    border: solid 1px #074248 !important;
    transition: 0.3s;
}

    .btn-submit:hover {
        background: #074248d6;
        color: #ffffff;
        border: solid 1px #074248 !important;
    }

.col-xs-3 > a > i {
    font-size: 50px;
    color: #074248 !important;
}

.text-dark-login {
    color: #074248;
}

.sign-in-text {
    color: #074248;
    /* display: flex;
    padding: 0px 17px;
    font-size: 17px;
    justify-content: right;*/
}

.fixed-both-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

input#BtnOtp {
    background: #074248;
    color: #fff;
}

input#btnResendOtp {
    background: #074248;
    color: #fff;
}

input#BtnOtp:hover {
    background: #074248d6 !important;
    color: #fff;
}

input#btnResendOtp:hover {
    background: #074248d6 !important;
    color: #fff;
}

@media (max-width: 1326px) {
    .logo_img_login img {
        height: 90vh;
    }
}

@media (max-width: 1024px) {
    .bg-body {
        max-width: 50vw;
    }
}

@media (max-width: 768px) {
    .bg-body {
        max-width: 47vw;
    }
}

@media (max-width: 550px) {
    .bg-body {
        max-width: 100%;
    }
}

.menu-content a {
    color: #fff;
}

.btn-custom a span {
    color: #fff;
}

#ContentPlaceHolder1_Systemlist .panel {
    /*height: 100% !important;*/
    min-height: 176px;
    padding: 0px 0 27px !important;
    transition: 0.3s;
}

    #ContentPlaceHolder1_Systemlist .panel:hover {
        transform: scale(1.05);
        background: #FAF9F6;
    }

#ContentPlaceHolder1_Systemlist .panel-body .row .col-xs-3 a i {
    font-size: 30px;
    padding: 10px;
    border: 1px solid #074248;
    border-radius: 50%;
    margin-top: -7px;
    margin-bottom: 5px;
    color: #074248;
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: transform 0.6s ease-in-out;
    transform: rotateY(0deg); /* Start from no rotation */
}

#ContentPlaceHolder1_Systemlist .panel-body .row .col-xs-3 i {
    transition: 0.8s all ease-in-out;
}

/* FLIP effect on hover */
#ContentPlaceHolder1_Systemlist .panel:hover .row .col-xs-3 i {
    /*transform: rotateY(180deg);*/
    animation: flipAnim 1s ease-in-out 1;
}
/* Keyframes for flipping multiple times */
@keyframes flipAnim {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
    /* 3 full flips */
}

#ContentPlaceHolder1_Systemlist .panel-body {
    position: relative;
    height: 100%;
    padding: 35px 0 0 !important;
}

#ContentPlaceHolder1_Systemlist .panel-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 !important;
}

    #ContentPlaceHolder1_Systemlist .panel-footer a {
        position: absolute;
        left: 0;
        right: 0;
    }

    #ContentPlaceHolder1_Systemlist .panel-footer a {
        transition: background-color 0.3s ease, border-radius 0.3s ease;
    }

        #ContentPlaceHolder1_Systemlist .panel-footer a .pull-right i {
            transition: color 0.3s ease, transform 0.3s ease;
            transform: translateX(0); /* default position */
        }

        /* Link hover - background and border radius */
        #ContentPlaceHolder1_Systemlist .panel-footer a:hover {
            background-color: #074248;
            cursor: pointer;
            border-radius: 0px 0px 12px 12px;
        }

            /* Icon color and movement on link hover */
            #ContentPlaceHolder1_Systemlist .panel-footer a:hover .pull-right i {
                color: #fff;
                transform: translateX(60px); /* slide icon to the right */
            }

/*input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: #000; 
    transition: background-color 5000s ease-in-out 0s;
}*/
